:root{
	
	/*
	azul: 4876ff
	negro grisáceo: 2b2825
	*/

	/*Blue*/
	--dark: #343a40;
	--blue: #23c6cc;
	--bg: #d3d8de;

	/* Frann*/
	/*--blue: #4876ff;
	--dark: #2b2825;*/
/*
	Green

	--blue: #A9C215;
	--dark: #2B2825;*/
}

/*a{
	text-decoration: none;
}

a:hover{
	color: var(--blue)
}*/

html,body{
	height: 100%;
	margin: 0;
	top: 0;
	font-family: lato;
	background: var(--bg);
	/*background: #c9cdd1;*/
}

.nav-container{
	width: 100%;
	height: 56px;
	margin: 0;
	background-color: var(--dark);
	position: fixed;
	top: 0;
	z-index: 99;
}

.exp{
	height: 56px;
}

ul{
	margin: 0;
}

.link{
	float: left;
	padding: 10px;
	list-style: none;
	background: var(--dark);
	margin-right: 10px;
	text-decoration: none;
	color: white;
	float: right;
	font-size: 22px;
}

.link:hover{
	color: var(--blue);
}

#title{
	text-decoration: none;
	color: white;
	margin: 0;
	font-size: 30px;
	margin-left: 10px;
	padding-top: 10px;
	float: left;
}

#title:hover{
	background: var(--dark);
	color: var(--blue);
}

.banner{
	width: 100%;
	background: url("/static/logo.png") no-repeat center;
	background-color: gray;
	height: 50%;
	color: white;
	text-align: center;
}
#header{
	color: white;
	text-decoration: none;
	font-size: 75px;
	position: absolute;
	margin-top: 10%;
	left: 40%;
	/*display: none;*/
}

#header:hover{
	color: var(--blue)
}
.container{
	margin-left: 25px;

	margin-right: 10px;
}
.card{
	float: left;
	width: 25%;
	padding: 25px;
	margin-left: 25px;
	margin-bottom: 10px;
	text-decoration: none;
	color: var(--dark);
	background: white;
	border: 2px solid var(--dark)
}

.card:hover{
	color: white;
	background: var(--dark);
}

.card-title{
	border-bottom: 2px solid var(--dark);
}

.read-title{
	font-size: 52px;
}

.read-text{
	margin-left: 20%;
	margin-right: 20%;
}

.input-text{
	padding: 10px 0;
	width: 50%;
}

#text{
	width: 75%;
	height: 400px;
}

.footer-columns{
	width: 33.33%;
	float: left;
	text-align: center;
}

.button{
	padding: 20px 40px;
	background: var(--dark);
	border: none;
	color: white;
	cursor: pointer;
}

#content{
	margin-left: 20%;
	margin-right: 20%;
}

form{
	text-align: center;
}

.center{
	text-align: center;
}

.like-box{
	position: fixed;
	top: 40%;
}

.like{
	border: none;
	color: var(--dark);
	background: rgba(0,0,0,0);

}

.like:hover{
	color: var(--blue);
}

#up{
	text-decoration: none;
	color: white;
	padding: 10px;
	background: var(--dark);
	position: fixed;
	border-radius: 25px;
	bottom: 3%;
	right: 3%;
}

#up:hover{
	color: var(--blue);
}

.comment{
	width: 50%;
	background: white;

	border-radius: 25px 0;
	text-align: center;
	border: 2px solid black;

	margin: auto;
}

#editorjs{
	background: white;
}

@media screen and (max-width: 600px){
	#content{
		margin-left: 0;
		margin-right: 0;
	}
	#header{
		left: unset;
		position: unset;
		display: inline;
	}
	.banner{
		height: 20%;
	}

	.card{
		width: 50%;
	}
	.like-box{
		position: unset;
		top: unset;
	}
}