{% extends 'base.html' %}
{% block body %}
	<div class="container">
		<h1>Write a Post:</h1>
		<div class="center">
			<h2>Post Name:</h2>
			<input type="text" class="input-text" id="name" placeholder="Post Name...">
			<br>
			<br>
			<h2>Post Description:</h2>
			<input type="text" class="input-text" id="des" placeholder="Post Description...">
			<br>
			<br>
			<br>
		</div>
		<div id="editorjs"></div>
		<br>
		<div class="center">
			<button class="button" onclick="save()">Save</button>
		</div>
	</div>
	<form id="img" style="text-align: unset;">
		<input type="file" name="img">
	</form>
	<button class="button" onclick="UploadImg()">Upload Img</button>
	<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
	<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
	<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
	<script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
	<script src="https://cdn.jsdelivr.net/npm/@editorjs/raw"></script>
	<script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist"></script>
	<script src="https://cdn.jsdelivr.net/npm/@editorjs/code"></script>
	<script src="https://cdn.jsdelivr.net/npm/@editorjs/underline@latest"></script>
	<script src="/static/js/add.js"></script>
{% endblock body %}