<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>estud.io</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="static/styles.css">
</head>
<body>
	<div class="nav-container">
		<ul>
			<a href="/read"><li class="link">more</li></a>
			<a href="/add"><li class="link">add</li></a>
			<a href="/"><li class="link">home</li></a>
		</ul>
		<a href="/" id="title">Estud.io</a>
	</div>
	{% block body %}
		
	{% endblock body %}
	<br>
	<br>
	<br>
	<!-- <footer>
		<div class="footer-columns">dasdsad</div>
		<div class="footer-columns">asddsasda</div>
		<div class="footer-columns">asddsasda</div>
	</footer> -->
</body>
</html>