<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>estud.io</title>
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="static/css/styles.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="icon" href="/static/icon.png" type="image/png"> 
</head>
<body>
	<div class="nav-container">
		<ul>
			<a href="/about"><li class="link"><i class="material-icons">info</i></li></a>
			<a href="/profile"><li class="link"><i class="material-icons">face</i></li></a>
			<a href="/add"><li class="link"><i class="material-icons">add</i></li></a>
			<a href="/search"><li class="link"><i class="material-icons">search</i></li></a>
			<a href="/"><li class="link"><i class="material-icons">home</i></li></a>
		</ul>
		<a href="/" id="title">Estud.io</a>
	</div>
	<div class="exp"></div>
	{% block body %}
		
	{% endblock body %}
	<br>
	<br>
	<br>
</body>
</html>