{% extends 'base.html' %}
{% block body %}
	<script src="/static/js/index.js"></script>
	<div class="banner">
		<a href="/" id="header">Estud.io</a>
	</div>
	<div class="container">
		<h1>Artículos:</h1>
		{% for i in list %}

		{% if i != "" %}

		<a href="#" class="card" id="{{ i }}">
			<div>
				<h2 class="card-title" id="{{ i }}">Title</h2>
				<p id="{{ i }}"></p>
			</div>
		</a>

		<script>
			// LoadCard("{{ i }}")
			load2("{{ i }}")
			console.log("{{ i }}")
		</script>
		{% endif %}
		{% endfor %}
	</div>
{% endblock body %}