{% extends 'base.html' %}
{% block body %}

	<div class="banner">
		<a href="#">Estud.io</a>
	</div>
	<div class="container">
		<h2>Post:</h2>
		<a href="#" class="card">
			<div>
				<h2 class="card-title">Hello</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem id aliquam, dicta odio sed incidunt fugit, blanditiis, sunt expedita rem fugiat? Ullam modi expedita enim debitis eaque architecto, error voluptates.</p>
			</div>
		</a>
		<a href="#" class="card">
			<div>
				<h2 class="card-title">Hello</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem id aliquam, dicta odio sed incidunt fugit, blanditiis, sunt expedita rem fugiat? Ullam modi expedita enim debitis eaque architecto, error voluptates.</p>
			</div>
		</a>
		<a href="#" class="card">
			<div>
				<h2 class="card-title">Hello</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem id aliquam, dicta odio sed incidunt fugit, blanditiis, sunt expedita rem fugiat? Ullam modi expedita enim debitis eaque architecto, error voluptates.</p>
			</div>
		</a>
		<a href="#" class="card">
			<div>
				<h2 class="card-title">Hello</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem id aliquam, dicta odio sed incidunt fugit, blanditiis, sunt expedita rem fugiat? Ullam modi expedita enim debitis eaque architecto, error voluptates.</p>
			</div>
		</a>
		<a href="#" class="card">
			<div>
				<h2 class="card-title">Hello</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem id aliquam, dicta odio sed incidunt fugit, blanditiis, sunt expedita rem fugiat? Ullam modi expedita enim debitis eaque architecto, error voluptates.</p>
			</div>
		</a>
		<a href="#" class="card">
			<div>
				<h2 class="card-title">Hello</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem id aliquam, dicta odio sed incidunt fugit, blanditiis, sunt expedita rem fugiat? Ullam modi expedita enim debitis eaque architecto, error voluptates.</p>
			</div>
		</a>
	</div>
{% endblock body %}