{% extends 'base.html' %}
{% block body %}
	<form action="/loggin" method="POST">
		<a href="/signup">Regístrate</a>
		<br>
		<p style="color: red;">{{ msg }}</p>
		<h1>Iniciar sesión: </h1>
		<br>
		<br>
		<h2>Nombre de Usuario:</h2>
		<input type="text" class="input-text" name="name" placeholder="User Name...">
		<br>
		<h2>Contraseña:</h2>
		<input type="password" class="input-text" name="pwd" placeholder="Password...">
		<br>
		<br>
		<br>
		<button class="button">Iniciar sesión</button>
	</form>
{% endblock body %}