{% extends 'base.html' %}
{% block body %}
		<script src="/static/js/profile.js"></script>
	<div class="container">

		<div class="center">
			<h1>Hello!</h1>
		</div>

		<a href="/logout">Log out</a>
		<br>
		<br>
		<br>
		<br>
	
		<h2>Artículos que has escrito: </h2>

		<div>
			{% for i in posts %}
			<a href="#" class="card" id="link-{{ i }}">
				<div>
					<h2 class="card-title" id="title-{{ i }}">Title</h2>
					
				</div>
			</a>
			
			<a href="#" id="{{ i }}" style="float: left;">Edit</a>

		<script>
			LoadCard("{{ i }}")
		</script>
		{% endfor %}
		</div>

	</div>
{% endblock body %}