{% extends 'base.html' %}
{% block body %}
  
  <style>
    .ce-toolbar{
      display: none;
    }
    .cdx-input.cdx-simple-image__caption{
      display: none;
    }
  </style>

  <a href="#" class="material-icons" id="up">keyboard_arrow_up</a>
  <script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
  <script src="static/js/read.js"></script>
    <div id="content">
      <div id="read"></div>
    </div>
  <div class="container">
    <p>Publicado Por: <a href="/user?user={{ by }}">{{ by }}</a></p>
  	<div class="like-box">
  		<button onclick="like('{{ post }}')" class="material-icons like">thumb_up</button>
  		{{ likes }}
  		<button onclick="dislike('{{ post }}')" class="material-icons like">thumb_down</button>
  	</div>



      <form id="comment">
        <h2>Por Favor Deja un Comentario:</h2>
        <textarea name="comment" cols="50" rows="2" id="text2"></textarea>
        <br>
      </form>
      <div class="center">
        <button class="button" onclick="SendComment('{{ post }}')">Enviar</button>
      </div>
      <br>
      <br>
      <br>
      <br>

      <h2>Comentarios:</h2>

      <div id="comments">
        <button class="button" onclick="ReadComments('{{ post }}')">Cargar Comentarios</button>
      </div>



  </div>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/raw"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/code"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/table"></script>
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/underline@latest"></script>
  <script>read("{{ post }}")</script>

{% endblock body %}