{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <div id="content"></div>
  </div>
	<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
  <script>

    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/read_file", true);
    xhr.send();
    
    xhr.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var response = this.responseText;
        var converter = new showdown.Converter(),
        text      = response,
        html      = converter.makeHtml(text);

        document.querySelector("#content").innerHTML = html
      }
    };
  </script>
{% endblock body %}