{% extends 'base.html' %}
{% block body %}
	<form action="/signup" method="POST">
		<a href="/loggin">Iniciar sesión</a>
		<br>
		<p style="color: red;">{{ msg }}</p>
		<h1>Regístrate: </h1>
		<br>
		<br>
		<h2>Nombre de Usuario</h2>
		<input type="text" class="input-text" name="name" placeholder="User Name...">
		<br>
		<h2>Contraseña:</h2>
		<input type="password" class="input-text" name="pwd" placeholder="Password...">
		<br>
		<br>
		<br>
		<button class="button">Regístrate</button>
	</form>
{% endblock body %}